.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

for $c in 0 .. 10
  $percent = ($c * 10px)
  .p-{$c}
    padding $percent
  .pt-{$c}
    padding-top $percent
  .pr-{$c}
    padding-right $percent
  .pl-{$c}
    padding-left $percent
  .pb-{$c}
    padding-bottom $percent
  .m-{$c}
    margin $percent
  .mt-{$c}
    margin-top $percent
  .mr-{$c}
    margin-right $percent
  .mb-{$c}
    margin-bottom $percent
  .ml-{$c}
    margin-left $percent

li
  list-style none

.lf
  float left

.rt
  float right

.c-block
  display block

.icon
  cursor pointer
  width 25px
  height 25px
  display inline-block

.inline-block
  display inline-block

.font-break
  word-break break-all

.link
  cursor pointer

.over_ellipsis
  cursor pointer
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

a, .router-link-active
  text-decoration none

.pointer
  cursor pointer

.icon
  cursor pointer
  display inline-block

.icon_svg
  vertical-align middle
  font-size 25px

// table
.listView
  background #fff
  padding 20px 0

.tips
  color #f06b6b
  font-size 16px

&.success
  color green

// card
.covered
  .ant-card-head
    border-bottom 0 none
    color #1A86D3
  .ant-modal-close-x
    width 32px
    height 32px
    line-height 32px

.detlTxt
  font-size 16px
  line-height 24px
  display block
  color rgba(0, 0, 0, .85)
  margin-bottom 16px
