// login
.login_text
  text-align center
  font-size 30px
  margin-bottom 20px
  color #333

@media (min-width 970px)
  for $c in 0 .. 10
    $percent = ($c * 10px)
    .p-md-{$c}
      padding $percent
    .pt-md-{$c}
      padding-top $percent
    .pr-md-{$c}
      padding-right $percent
    .pl-md-{$c}
      padding-left $percent
    .pb-md-{$c}
      padding-bottom $percent
    .m-md-{$c}
      margin $percent
    .mt-md-{$c}
      margin-top $percent
    .mr-md-{$c}
      margin-right $percent
    .mb-md-{$c}
      margin-bottom $percent
    .ml-md-{$c}
      margin-left $percent

@media (max-width 768px)
  .ant-layout .ant-layout-header .logout_btn
    padding 0
  // 登录
  #open
    .register, .login
      .login_box
        padding 40px 15px 0
      .section
        .login_btn
          margin 30px 32px
        .sign_box
          padding 0 0 10px
          width 95%

@media (max-width 640px)
  .ant-modal
    width 90% !important
  .aside_box .ant-layout-sider
    width 0 !important
    min-width 0 !important
  .aside_box.slide .ant-layout-sider
    width 80px !important
    min-width 80px !important